/* ditching the roundings */
$jsi-radius-small: 3px
$jsi-radius: 8px
$jsi-radius-large: 12px

/**/
$jsi-primary:         hsl(237, 70%, 33%)
$jsi-secondary:       hsl(182, 77%, 43%)
$jsi-secondary-dark:  hsl(191, 77%, 46%)
$jsi-secondary-light: hsl(182, 77%, 51%)

$jsi-weight-light: 400
$jsi-weight-normal: 500
$jsi-weight-medium: 600
$jsi-weight-semibold: 700
$jsi-weight-bold: 800

$jsi-scheme-main: hsl(0, 0%, 8%)
$jsi-scheme-main-bis: hsl(0, 0%, 4%)
$jsi-scheme-main-ter: hsl(0, 0%, 0%)

$jsi-text: $jsi-secondary
$jsi-text-strong: $jsi-secondary-light

$jsi-footer-padding: 1rem

@use "../../node_modules/bulma/sass" as bulma with (
	$radius-small: $jsi-radius-small,
	$radius: $jsi-radius,
	$radius-large: $jsi-radius-large,
	$primary: $jsi-primary,
	$weight-light: $jsi-weight-light,
	$weight-normal: $jsi-weight-normal,
	$weight-medium: $jsi-weight-medium,
	$weight-semibold: $jsi-weight-semibold,
	$weight-bold: $jsi-weight-bold,
	$link: $jsi-secondary,
	$scheme-main: $jsi-scheme-main,
	$scheme-main-bis: $jsi-scheme-main-bis,
	$scheme-main-ter: $jsi-scheme-main-ter,
	$text: $jsi-text,
	$text-strong: $jsi-text-strong,
	$footer-padding: $jsi-footer-padding
)

/* bulma generates the colors, so we have to overwrite them */
a.button.is-primary,
button.button.is-primary
	color: bulma.$text-strong !important

nav.navbar.is-primary
	box-shadow: none !important
	.navbar-item
		color: bulma.$text-strong !important

root, html, body
	letter-spacing: 0.05rem

main.container
	margin-bottom: 12rem

footer.footer
	position: fixed
	bottom: 0
	left: 0
	right: 0

.jsi-dt
	letter-spacing: .05em

.jsi-dd-url
	word-break: break-all

.jsi-td-truncate
	max-width: 40ch
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

.jsi-form-inline
	display: inline
