@page
@model JustShortIt.Pages.InspectModel
@{
    ViewData["Title"] = "Inspect";
}

<div class="columns is-centered is-multiline my-6 px-4">
@if (Model.UrlRedirect is null)
{
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="column is-half-desktop is-two-thirds-tablet is-full-mobile notification is-info">
            <button class="delete" data-dismiss-parent></button>
            @Html.Raw(Model.Message)
        </div>
    }
    else
    {
        <div class="column is-full has-text-centered">
            <h1 class="title is-2 has-text-danger">URL not found</h1>
            <h2 class="subtitle is-4">The given ID does not exist, it may have expired or been deleted.</h2>
        </div>
    }
} 
else
{
    <div class="column is-half-desktop is-two-thirds-tablet is-full-mobile">
        <dl class="mb-5">
            <dt class="is-size-7 has-text-grey has-text-weight-semibold is-uppercase jsi-dt">ID</dt>
            <dd class="is-size-5 has-text-weight-medium mb-4"><code>@Model.UrlRedirect.Id</code></dd>
            <dt class="is-size-7 has-text-grey has-text-weight-semibold is-uppercase jsi-dt">URL-Target</dt>
            <dd class="is-size-5 has-text-weight-medium jsi-dd-url">@Model.UrlRedirect.Target</dd>
        </dl>
        
        <form class="buttons" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ReturnTo" />
            <button type="submit" class="button is-danger">Delete</button>
        </form>
    </div>
}
    <div class="column is-full has-text-centered">
        @if (Model.ReturnTo == "redirects")
        {
            <a class="button is-primary is-medium" asp-page="Redirects">Back to Redirects</a>
        }
        else
        {
            <a class="button is-primary is-medium" asp-page="Urls">Back to URLs</a>
        }
    </div>
</div>
