@if (User.Identity?.IsAuthenticated is true) 
{
    <span class="mx-3">@User.Identity.Name</span>
    <form method="post" asp-page="Logout" class="is-inline-block">
        @Html.AntiForgeryToken()
        <button class="button is-ghost" type="submit">Logout</button>
    </form>
}
else 
{
    <a class="button is-ghost" asp-page="Login">Login</a>
}